<p id="notice"><%= notice %></p>

<h1>Dailies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Weight</th>
      <th>Waist Size</th>
      <th>BFP</th>
      <th>BMI</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dailies.each do |daily| %>
      <tr>
        <td><%= daily.name %></td>
        <td><%= daily.date %></td>
        <td><%= daily.weight %></td>
        <td><%= daily.waist_size %></td>
        <td><%= daily.bfp %></td>
        <td><%= daily.bmi %></td>
        <td><%= link_to 'Show', daily %></td>
        <td><%= link_to 'Edit', edit_daily_path(daily) %></td>
        <td><%= link_to 'Destroy', daily, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Daily', new_daily_path %>
